@charset "UTF-8";
/* CSS Document */

body {
background-color: #FFFFFF;
color: #333;
font-family: Cambria, "Trebuchet MS", Helvetica, Arial;
line-height: 150%;
margin: 0px;
width: 100%;
font-size: 16px;
}
.netbanner{
    height: 250px;
    background-image: url(network2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}
